/* Reset settings */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

body {
    background-color: #E5E5E5;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* Cookie1 */

.cookie1 {
    width: 1440px;
    padding-left: 120px;
    padding-right: 120px;
    background-color: #0B2239;
    display: flex;
    margin-bottom: 24px;
    box-sizing: border-box;
}

.cookie1-text {
    width: 922px;
    margin-right: 42px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 13px;
    line-height: 1.54;
    color: #FFFFFF;
}

.cookie1-parts {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cookie1-link {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.67;
    margin-right: 20px;
    text-decoration-line: underline;
    color: #4AD295;
    padding-top: 5px;
    padding-bottom: 5px;
}

.cookie1-btn {
    width: 130px;
    height: 36px;
    background-color: #4AD295;
    border: none;
    border-radius: 2px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.67;
    color: #FFFFFF;
    cursor: pointer;
}

/* cookie2 */

.cookie2 {
    width: 1440px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #2B2627;
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.cookie2-text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.54;
    color: #FFFFFF;
    margin-right: 20px;
    margin-left: 8px;
}

.cookie2-link {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.54;
    color: #FFFFFF;
    text-decoration-line: underline;
}

/* cookie3 */

.cookie3 {
    width: 560px;
    background: #FFFFFF;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 16px;
    margin-bottom: 24px;
    padding: 16px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.cookie3-icon-bg {
    width: 36px;
    height: 36px;
    background: rgba(234, 76, 137, 0.1);
    border-radius: 10px;
}

.cookie3-icon {
    width: 20px;
    height: 20px;
    margin: 8px;
}

.cookie3-text {
    width: 347px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    color: #0D0C22;
}

.cookie3-link {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    color: #EA4C89;
}

.cookie3-decline-btn {
    width: 63px;
    height: 28px;
    background: rgba(13, 12, 34, 0.05);
    border-radius: 8px;
    border: none;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    color: #0D0C22;
}

.cookie3-allow-btn {
    width: 52px;
    height: 28px;
    background: #EA4C89;
    border-radius: 8px;
    border: none;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    color: #FFFFFF;
}

/* cookie4 */

.cookie4 {
    width: 560px;
    background: #26262B;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 10px;
    margin-bottom: 72px;
    padding: 12px 16px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.cookie4-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.67;
    color: #FFFFFF;
    width: 469px;
}

.cookie4-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.67;
    color: #E6842E;
}

.cookie4-ok-btn {
    width: 49px;
    height: 28px;
    background: #FFFFFF;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.67;
    color: #26262B;
    border: none;
}

/* cookies-block1 */

.cookies-block1 {
    display: flex;
    gap: 40px;
    margin-bottom: 72px;
}

.cookie5 {
    width: 360px;
    background: rgba(28, 37, 64, 0.95);
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 6px;
    padding: 24px;
    box-sizing: border-box;
}

.cookie-notice {
    margin-bottom: 10px;

}

.cookie5-main-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.cookie5-link {
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    color: #FFFFFF;
}

.cookie5-mini-block {
    display: flex;
    align-items: center;
}

.cookie5-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #FFFFFF;
    margin-right: 67px;
}

.cookie5-btn {
    width: 85px;
    height: 32px;
    background: #09B3AF;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
    border-radius: 6px;
    border: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    color: #FFFFFF;
}

.cookie6 {
    padding: 16px;
    width: 360px;
    background: #FFFFFF;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 16px;
    box-sizing: border-box;
    height: 170px;
}

.cookie6-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    color: #687F8C;
    margin-top: 10px;
    margin-bottom: 16px;
}

.cookie6-mini-block {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cookie6-btn1 {
    width: 160px;
    height: 32px;
    background: #EAF0F4;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
    border-radius: 6px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    color: #687F8C;
}

.cookie6-btn2 {
    width: 160px;
    height: 32px;
    background: #40C1A7;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
    border-radius: 6px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    color: #FFFFFF;
}

/* cookies-block2 */

.cookies-block2 {
    display: flex;
    gap: 40px;
}

.cookie7 {
    width: 320px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(186, 226, 255, 0.15) 23.96%, rgba(229, 217, 255, 0.15) 71.87%, rgba(255, 255, 255, 0.15) 100%), #FFFFFF;
    box-shadow: 0px 8px 32px rgba(10, 3, 89, 0.1);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 32px;
}

.cookie7-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 28px;
    line-height: 1.71;
    text-align: center;
    color: #15295A;
}

.cookie7-text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #15295A;
    margin-bottom: 32px;
}

.cookie7-btn {
    width: 121px;
    height: 44px;
    background: #4A7EFF;
    border-radius: 43px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    display: block;
    margin: auto;
}

.cookie8 {
    width: 320px;
    background: #FFFFFF;
    box-shadow: 0px 8px 32px rgba(10, 3, 89, 0.1);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 16px;
    height: 137px;
}

.cookie8-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.43;
    color: #000000;
    margin-bottom: 12px;
}

.cookie8-mini-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cookie8-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    color: #6666FF;
}

.cookie8-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    color: #FFFFFF;
    width: 64px;
    height: 33px;
    background: #6666FF;
    border-radius: 4px;
    border: none;
}